{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="field" style="height: 400px; width: 400px; margin-left:117px; margin-right:117px;">

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

    <h1 class="mb-3 font-weight-normal" style="font-size:25px">Please sign in</h1>
    <div class="field">

            <label class="label" for="inputPseudo">Pseudo</label>
        <div class="control">
            <input type="text" placeholder="Pseudo" value="{{ last_username }}" name="pseudo" id="inputPseudo"
                   class="form-control input" autocomplete="username" required autofocus>
        </div>
    </div>
    <div class="field">

            <label class="label" for="inputPassword">Mot de passe</label>
            <div class="control">
            <input type="password" placeholder="Mot de passe" name="password" id="inputPassword"
                   class="form-control input" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

        </div>
    </div>
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        #}

        <div class="checkbox mb-3">
            <div class="control">
            <label class="checkbox">
                {# Solution de secours pour afficher une checkbox cochée si l'on a un cookie d'utilisateur #}
                {% if remember_me  == true %}
                    <input type="checkbox" name="_remember_me" checked="{{ remember_me }}"> Se souvenir de moi
                {% else %}
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                {% endif %}
            </label>
            </div>
        </div>

        <button class=" button btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
        </form>
    </div>



    {% endblock %}
