{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ participant.pseudo }}
{% endblock %}

{% block body %}

    <h1 class="title is-flex is-justify-content-center title-details">{{ participant.pseudo }}</h1>
    <div class="columns">
        <div class="column">
            <div class="columns">
                <div class="column"></div>
                <div class="column column-user-details">
                    <div class="titre-user-details">Prénom :</div>
                    <div class="titre-user-details">Nom :</div>
                    <div class="titre-user-details">Téléphone :</div>
                    <div class="titre-user-details">Email :</div>
                    <div class="titre-user-details">Site de rattachement :</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <div>{{ participant.prenom }}</div>
                    <div>{{ participant.nom }}</div>
                    <div>{{ participant.telephone ? participant.telephone : "Non renseigné" }}</div>
                    <div>{{ participant.mail }}</div>
                    <div>{{ participant.site.nom }}</div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
    <a class="button is is-flex is-justify-content-center user-details is-warning" href="{{ path('app_home') }}">Retour</a>

   {% endblock %}