{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    <h1 class="title is-flex is-justify-content-center">Mon Profil</h1>
    <div class="container">
    {{ form_start(monProfilForm) }}
        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                            <img class="card-image" alt="Mon profil" src="{{ asset('images/avatar/test.jpg') }}" style="height:200px; width:auto">
                    </div>
                </div>
            </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <div>Pseudo :</div>
                    <div class="pt-2">{{ form_label(monProfilForm.prenom) }}</div>
                    <div class="py-4">{{ form_label(monProfilForm.nom) }}</div>
                    <div>{{ form_label(monProfilForm.telephone) }}</div>
                    <div class="py-4">{{ form_label(monProfilForm.mail) }}</div>
                    <div>{{ form_label(monProfilForm.site) }}</div>
                    <div class="py-4">{{ form_label(monProfilForm.password.first) }}</div>
                    <div>{{ form_label(monProfilForm.password.second) }}</div>
                    <div class="py-4">{{ form_label(monProfilForm.photoNom) }}</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <div>{{ profil.pseudo }}</div>
                    <div>{{ form_widget(monProfilForm.prenom, {'attr': {'class': 'input'}}) }}</div>
                    <div>{{ form_widget(monProfilForm.nom, {'attr': {'class': 'input'}}) }}</div>
                    <div>{{ form_widget(monProfilForm.telephone, {'attr': {'class': 'input'}}) }}</div>
                    <div>{{ form_widget(monProfilForm.mail, {'attr': {'class': 'input'}}) }}</div>
                    <div class="select">{{ form_widget(monProfilForm.site) }}</div>
                    <div>{{ form_widget(monProfilForm.password.first, {'attr': {'class': 'input'}}) }}</div>
                    <div>{{ form_widget(monProfilForm.password.second, {'attr': {'class': 'input'}}) }}</div>

                        <div>{{ form_widget(monProfilForm.photoNom, {'attr': {'class': 'input'}}) }}</div>


                </div>
            </div>
        </div>
    </div>
        <div class="form-buttons">
            <button type="submit" class="button is-success">Enregistrer</button>
            <a href="{{ path('app_home') }}" class="button">Annuler</a>
        </div>
    {{ form_end(monProfilForm) }}
    </div>
{% endblock %}
