{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    {{ form_start(monProfilForm) }}
    {{ form_row(monProfilForm.pseudo) }}
    {{ form_row(monProfilForm.prenom) }}
    {{ form_row(monProfilForm.nom) }}
    {{ form_row(monProfilForm.telephone) }}
    {{ form_row(monProfilForm.mail) }}
    {{ form_row(monProfilForm.site) }}

    {{ form_row(monProfilForm.password) }}

    <button type="submit" class="btn">Enregistrer</button>
    <button href="{{ path('app_home') }}" class="btn">Annuler</button>
    {{ form_end(monProfilForm) }}

{% endblock %}
