{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div>

        <h1 class="title">Bienvenue sur VENI !</h1>
        <div>
            {% if app.user != null %}
                <div>Date du jour: {{ "now" | date('d/m/Y') }}</div>
                <div>Participant: {{ app.user.prenom }} {{ app.user.nom }}  </div>
            {% endif %}
        </div>

        <h2 class="subtitle">Filtrer les sorties</h2>

{#        <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">#}
{#            <span class="sr-only">Loading...</span>#}
{#        </div>#}
        <div class="columns ">

            <div class="column">
                <div class="columns is-mobile">
                    <div class="column">

                        <div class="field is-flex">
                            {{ form_start(rechercheForm) }}
{#                            <div class="control">#}
{#                                <label class="label" for="inputSite"> Site : </label>#}
{#                                <select class="select is-multiple">#}
{#                                    {% for site in sites %}#}
                                {{ form_row(rechercheForm.site) }}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
                        </div>
                        <div class="field">

{#                                <label class="label" for="inputRequest"> Le nom de la sortie contient : </label>#}
                                <div class="control">
{#                                <input class="input is-info" type="text" placeholder="Le nom de la sortie contient">#}
                                    {{ form_row(rechercheForm.query)  }}

</div>
                        </div>
                        <div class="field">
                            <div class="control">
{#                            <label class="datetime">Entre : </label>#}
{#                                <input type="date"> #}
                            {{ form_row(rechercheForm.debut)}}


{#                            <label class="datetime1"> </label>#}
{#                                <input type="date"> #}
                                {{ form_row(rechercheForm.fin)}}
                            </div>

                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <div class="control">
{#                            <label class="checkbox-organisateur"></label>#}
{#                                <input type="checkbox">#}
{#                                Sorties dont je suis l'organisateur/trice#}
                                {{ form_row(rechercheForm.checkbox_organisateur)}}

                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
{#                            <label class="checkbox-inscrit"></label>#}
{#                                <input type="checkbox">#}
{#                                Sorties auxquelles je suis inscrit/e#}
                                {{ form_row(rechercheForm.checkbox_inscrit)}}

                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
{#                            <label class="checkbox-non-inscrit"> </label>#}
{#                                <input type="checkbox">#}
{#                                Sorties auxquelles je ne suis pas incrit/e#}
                               {{ form_row(rechercheForm.checkbox_non_inscrit)}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
{#                            <label class="checkbox-fin"></label>#}
{#                                <input type="checkbox">#}
{#                                Sorties passées#}
                                {{ form_row(rechercheForm.checkbox_passes)}}
                            </div>
                        </div>
{#                        <div class="button">#}
{#                        <input class="button is-info mt-4" type="submit" value="Rechercher">#}
{#                        </div>#}
                    </div>
                    {{ form_end(rechercheForm) }}
                </div>
            </div>

        </div>

        <table class="table is-striped has-text-centered">
            <thead class="has-text-centered">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d-m-Y') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td> {{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.nom }}</td>
                    {% if app.user != null %}
                        {% set continu = false %}
                        {% for participant in sortie.participants %}
                            {% if participant == app.user %}
                                {% set continu = true %}
                            {% endif %}
                        {% endfor %}
                        {% if continu %}
                            <td> X</td>
                        {% else %}
                            <td> Non inscrit</td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="{{ path('app_details_participant', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a></td>
                    {% if app.user %}
                        {% if sortie.etat.nom == "En création" and sortie.organisateur.pseudo == app.user.pseudo %}
                            <td> <a href="{{ path('app_editer', {'id': sortie.id}) }}">Modifier</a> / <a href="{{ path('app_publier', {'id': sortie.id}) }}">Publier</a> </td>
                        {% elseif (sortie.etat.nom == "Ouvert" or sortie.etat.nom == "Fermé") and sortie.organisateur.pseudo == app.user.pseudo %}
                            <td> <a href="{{ path('app_details', {'id': sortie.id}) }}">Afficher</a> / <a href="{{ path('app_annuler_sortie', {'id': sortie.id}) }}">Annuler</a> </td>
                        {% else %}
                            <td><a href="{{ path('app_details', {'id': sortie.id}) }}">Afficher</a></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="button" href="{{ path('app_ajout_sortie') }}">Créer une sortie</a>
    </div>
{% endblock %}
