{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <h1 class="form-title">Créer une sortie</h1>

    <div class="container">
        {{ form_start(sortieForm) }}
    <div class="form">
        <div class="form-left">
            <div class="form-item">
                <div>{{ form_label(sortieForm.nom) }}</div>
                <div>{{ form_widget(sortieForm.nom) }}</div>
            </div>
            <div class="form-item">
                <div>{{ form_label(sortieForm.dateHeureDebut) }}</div>
                <div>{{ form_widget(sortieForm.dateHeureDebut) }}</div>
            </div>
            <div class="form-item">
                <div>{{ form_label(sortieForm.dateLimiteInscription) }}</div>
                <div>{{ form_widget(sortieForm.dateLimiteInscription) }}</div>
            </div>
            <div class="form-item">
                <div>{{ form_label(sortieForm.nbInscriptionsMax) }}</div>
                <div>{{ form_widget(sortieForm.nbInscriptionsMax) }}</div>
            </div>
            <div class="form-item">
                <div>{{ form_label(sortieForm.duree) }}</div>
                <div>{{ form_widget(sortieForm.duree) }}</div>
            </div>
            <div class="form-item">
                <div>{{ form_label(sortieForm.infosSortie) }}</div>
                <div>{{ form_widget(sortieForm.infosSortie) }}</div>
            </div>
        </div>
        <div class="form-right">
            {{ form_row(sortieForm.lieu) }}
        </div>
    </div>

        <div class="form-buttons">
            {{ form_widget(sortieForm.enregistrer) }}
            {{ form_widget(sortieForm.publier) }}
            <button class="btn"><a href="{{ path('app_home') }}">Annuler</a></button>
        </div>

        {{ form_end(sortieForm) }}
    </div>

{% endblock %}