{% extends 'base.html.twig' %}

{% block body %}


    <h1 class="title">Détails : {{ sortie.nom }}</h1>
    <div class="columns">
        <div class="column">
            <div class="columns is-mobile">
                <div class="column">
                    <div class="box">
                        <div class="field is-flex">
                            <div class="label">Nom de la sortie : </div>
                            <p >
                                {{ sortie.nom }}
                            </p>
                        </div>
                        <div class="field is-flex">
                            <div class="label">Date et heure de la sortie : </div>
                            <p >
                                {{ sortie.dateHeureDebut | date('d-m-Y') }}
                            </p>
                        </div>
                        <div class="field is-flex">
                            <div class="label">Date limite d'inscription : </div>
                            <p >
                                {{ sortie.dateLimiteInscription | date('d-m-Y') }}
                            </p>
                        </div>
                        <div class="field is-flex">
                            <div class="label">Nombre de places : </div>
                            <p >
                                {{ sortie.nbInscriptionsMax }}
                            </p>
                        </div>
                        <div class="field is-flex">
                            <div class="label">Durée : </div>
                            <p >
                                {{ sortie.duree }}
                            </p>
                        </div>
                        <div class="field is-flex">
                            <div class="label">Infos de la sortie : </div>
                            <p >
                                {{ sortie.infosSortie}}
                            </p>
                        </div>
                </div>
            </div>
                    <div class="column">
                        <form class="box">
                            <div class="field is-flex">
                                <div class="label">Lieu : </div>
                                <p >
                                    {{ sortie.lieu.nom }}
                                </p>
                            </div>

                            <div class="field is-flex">
                                <div class="label">Rue : </div>
                                <p >
                                    {{ sortie.lieu.rue }}
                                </p>
                            </div>
                            <div class="field is-flex">
                                <div class="label">Ville : </div>
                                <p >
                                    {{ sortie.lieu.ville.nom }}
                                </p>
                            </div>
                            <div class="field is-flex">
                                <div class="label">Code Postal : </div>
                                <p >
                                    {{ sortie.lieu.ville.codePostal }}
                                </p>
                            </div>
                            <div class="field is-flex">
                                <div class="label">Latitude : </div>
                                <p >
                                    {{ sortie.lieu.latitude }}
                                </p>
                            </div>
                            <div class="field is-flex">
                                <div class="label">Longitude : </div>
                                <p >
                                    {{ sortie.lieu.longitude }}
                                </p>
                            </div>
                        </form>
            </div>
        </div>
    </div>
    </div>

       <hr>


    <h3 class="subtitle">Liste des participants inscrits</h3>



    <table class="table has-text-centered is-striped is-bordered">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td> {{ participant.nom }} {{ participant.prenom }}  </td>
                <td>
                    {% if user == participant and "now"|date('Y-m-d') <= sortie.dateLimiteInscription|date('Y-m-d')
                    and sortie.etat.id != "5" and sortie.etat.id != "1" %}
                    <a href="{{ path('app_desister', {'id': sortie.id}) }}" class="btn">Se désister de cette sortie</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if sortie.etat.id != "5" and sortie.etat.id != "1" %}
        {% if sortie.participants | length != sortie.nbInscriptionsMax  %}
            <h3>Souhaitez vous vous inscrire à cette sortie ?</h3>

            {% set continue = false %}
            {% for participant in sortie.participants %}
                {% if user == participant %}
                    {% set continue = true %}
                {% endif %}
            {% endfor %}
            {% if not continue %}
                {% if "now"|date('Y-m-d') <= sortie.dateLimiteInscription|date('Y-m-d') %}
                    <a href="{{ path('app_sinscrire', {'id': sortie.id}) }}" class="btn">S'inscrire à cette sortie</a><br>
                {% else %}
                    Il n'est plus possible de s'inscrire à cette sortie, la date limite est dépassée<br>
                {% endif %}
            {% endif %}
        {% else %}
            Cette sortie est pleine<br>
            {% if "now"|date('Y-m-d') > sortie.dateLimiteInscription|date('Y-m-d') %}
                Il n'est plus possible de s'inscrire à cette sortie, la date limite est dépassée<br>
            {% endif %}
        {% endif %}
    {% elseif sortie.etat.id == "5" %}
        le motif de l'annulation est : {{ sortie.motifAnnulation }}<br>
    {% elseif sortie.etat.id == "1" %}
        La sortie n'est pas encore publiée<br>
    {% endif %}

    <a href="{{ path('app_home') }}" class="btn">Annuler</a><br>


{% endblock %}

{% block title %}
    {{ parent() }} | Liste
{% endblock %}


