<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <a class="navbar-item" href="{{ path('app_home') }}" style="font-size: 25px">
            <img src="{{ asset('images/Logo VENI.png') }}" style="width:auto; max-height:100px;" alt="VENI">
        </a>
{#bouton burger à revoir#}
        <a class="navbar-burger" role="button"  data-target="navbarMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div class="navbar-menu" id="navbarMenu" >
        <div class="navbar-end mr-4">
            <a class="navbar-item" href={{ path('app_home') }}>
                Accueil
            </a>
            <a href="" class="navbar-item">
               Villes
            </a>
            <a href="" class="navbar-item">
                Sites
            </a>
                {% if app.user != null %}
                    <a class="navbar-item" href={{ path('app_monprofil') }}>Mon profil</a>
                    <div class="buttons">
                        <a class="navbar-item button is-primary" href={{ path('app_logout') }}>Se déconnecter</a>
                {% else %}
                    <a class="navbar-item button is-primary" href={{ path('app_login') }}>Se connecter</a>
                {% endif %}
                </div>
        </div>
    </div>
</nav>

{% block javascripts %}
<script src="{{ asset('/navbar.js') }}"></script>
{% endblock %}