<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <a class="navbar-item" href="{{ path('app_home') }}" style="font-size: 25px">
            <img src="{{ asset('images/Logo VENI.png') }}" style="width:auto; max-height:100px;" alt="VENI">
        </a>
{#bouton burger à revoir#}
        <a class="navbar-burger" role="button"  data-target="navbarMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div class="navbar-menu" id="navbarMenu" >
        <div class="navbar-end mr-4">
            <a class="navbar-item" href={{ path('app_home') }}>
                Accueil
            </a>
            {% if app.user != null %}
            {% if app.user.administrateur %}
                <a href="{{ path('app_administration_lieux') }}" class="navbar-item">
                    Lieux
                </a>
                <a href="{{ path('app_administration_villes') }}" class="navbar-item">
                    Villes
                </a>
                <a href="{{ path('app_administration_utilisateurs') }}" class="navbar-item">Utilisateurs</a>
            {% endif %}
                    <a class="navbar-item" href={{ path('app_monprofil') }}>Mon profil</a>
                    <div class="buttons">
                        <a class="navbar-item button is-primary" href={{ path('app_logout') }}>Se déconnecter</a>
                {% else %}
                    <a class="navbar-item button is-primary is-align-self-center" href={{ path('app_login') }}>Se connecter</a>
                {% endif %}
                </div>
        </div>
    </div>
</nav>

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        });
    </script>
{% endblock %}