<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <a class="navbar-item " href="{{ path('app_home') }}" style="font-size: 25px">
            <img src="{{ asset('images/Logo VENI.png') }}" width="40" height="40" alt="VENI">
{#            <img src="" width="112" height="28">#}
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end mr-4">
            <a class="navbar-item" href={{ path('app_home') }}>
                Accueil
            </a>

                    {% if app.user != null %}
            {% if app.user.administrateur %}
                <a href="{{ path('app_administration_lieux') }}" class="navbar-item">
                    Lieux
                </a>
                <a href="{{ path('app_administration_villes') }}" class="navbar-item">
                    Villes
                </a>
                <a href="{{ path('app_administration_utilisateurs') }}" class="navbar-item">Utilisateurs</a>
            {% endif %}
                    <a class="navbar-item" href={{ path('app_monprofil') }}>Mon profil</a>
                    <div class="buttons">
                        <a class="navbar-item button is-primary" href={{ path('app_logout') }}>Se déconnecter</a>
                    {% else %}
                    <a class="navbar-item button is-primary" href={{ path('app_login') }}>Se connecter</a>
                    {% endif %}
                </div>
        </div>
    </div>
</nav>
