{% extends 'base.html.twig' %}

{% block title %}
    Gestion des utilisateurs
{% endblock %}

{% block body %}
    <h1 class="title">Gestion des utilisateurs</h1>
    <table class="table is-striped has-text-centered">
        <thead class="has-text-centered">
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.pseudo }}</td>
                <td>{{ utilisateur.prenom }} {{ utilisateur.nom }}</td>
                <td>{{ utilisateur.mail }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="button" href="{{ path('app_administration_utilisateurs_ajout') }}">Ajouter un utilisateur</a>
    <a href="{{ path('app_administration_csv') }}">Ajouter des utilisateurs depuis un fichier CSV</a>
{% endblock %}